/*******************************************************************************
 * Basic Setup
 ******************************************************************************/

@color-text:                #333;
@color-text-subtle:         #666;
@color-bg-light:            #F7F7F7;
@color-bg-neutral:          #EEEEEE;
@color-bg-dark:             #D4D5D7;

@borderRadius-large:        10px;
@borderRadius-button:       6px;
@padding:                   10px;

/*******************************************************************************
 *  Font definition
 ******************************************************************************/

@font-face {
    font-family: 'CCIconsRegular';
    src: url("../fonts/cc-icons/cc-icons-webfont.eot");
    src: url("../fonts/cc-icons/cc-icons-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/cc-icons/cc-icons-webfont.woff") format("woff"),
         url("../fonts/cc-icons/cc-icons-webfont.ttf") format("truetype"),
         url("../fonts/cc-icons/cc-icons-webfont.svg#CCIconsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* ### GENERAL ### */
* { margin: 0px; padding: 0px; }

html, body { 
  background: @color-bg-dark;
}
body, input, select, textarea {
  font: 13px/1.5 Tahoma, Geneva, Verdana, sans-serif;
  color: @color-text;
}
input, select, textarea { 
  line-height: 1.4;
  color: #111;
}

img { border: 0px; display: inline-block; }
a {outline: none;}
ul,ol { 
  margin-left: 1.5em;
  }
strong {
  /*font-size: 0.9em;*/
  font-weight: bolder;
}
em {
  font-style: italic;
}
code {
  font-size: 1em;
}
pre {
  margin-top: 4px;
  font-size: 12px;
  color: #444444;
  /*background-color: #effef1;*/
  border: thin solid silver;
  padding: 10px;
}
hr {
  height: 0px;
  border: none;
  border-top: 1px solid @color-bg-dark;
  margin: 1em 0;
  }

h1, h2, h3, h4, .head, #menuCntr {
  letter-spacing: 1px;
  margin-bottom: 0;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
  
  margin-bottom:1.4em;
  width:100%;
  }
th, td {
  vertical-align: top;
  padding: @padding/2 @padding;
  }
.ind1 {
  background-color: darken(@color-bg-light, 5%)
  }

table.reset {
  padding: 0;
  margin: 0;
  tr, th, td {
    padding: 0;
    margin: 0;
  }
}

/* ### GLOBAL CLASSES ### */
.clear { clear: both; height: 1px; }
/* ### WRAPPER ### */
#wrapper {
  position: relative;
}

/* ### HEADER CONTAINER ### */
#headerCntr { 
  padding-top: 10px;
  padding-bottom: 10px;
  .text-engraved;
}
#headerCntr .span-11 { position: relative; }
#headerCntr h1 a { display: block; width: 180px; height: 43px; text-indent: -9999px; background: url('../newaw.png') no-repeat; }

/* ### MENU CONTAINER ### */
#menuCntr {
  position: relative;
  top: 15px;
  }
#menuCntr input {
  margin: 0px;
  }
#menuCntr ul { margin-left:0px; overflow: hidden;list-style: none; }
#menuCntr li { padding-right: 20px; float: right; display: inline; }
#menuCntr li a { text-decoration: none; color: #000; }
#menuCntr li a:hover { text-decoration: underline; }
#menuCntr li.selected a { font-weight: bold; }

#searchbox {
  border:none;
  vertical-align:middle;
}
#search fieldset { padding-bottom: 10px; position: relative; }
#search fieldset input#search-field { background: none; border: 0 none; padding: 0; color: #9ba9b1; font-size: 12px; width: 130px; }
#search fieldset input#searchsubmit { position: absolute; top: 5px; right: 2px; }

/* ### CONTENT CONTAINER ### */
#contentCntr {
  background-color: @color-bg-light;
  background: url('../images/contentBg.jpg') repeat-y;
  background-position: 35px 0;
  }
#contentCntr div.cTop {
  overflow: hidden;
  background: url('../images/contentTop.jpg') no-repeat top;
  background-position: 35px 0;
}
#contentCntr .head {
  font: 18px 'Helvetica', Arial; color: #333; background: url('../images/titleBg.jpg') no-repeat;
  background-position: 30px 0;
  height: 66px;
  padding-top: 9px;
  .text-engraved;
}

#wikiactions {
  float:right;
  font-size: 11px;
  text-align: right;
  .subtle;
}

#pagetitle {
  vertical-align: top;
  a {
    color: @color-text;
    }
  }

#groupname {
  font-size: 60%;
}
#pagename { padding-bottom: 0px; font-size: 120%;}

#contentCntr h1 {  width: 782px; height: 36px; font: 18px 'Helvetica', Arial; color: #333; }
#contentCntr h1 span { font: 14px 'Helvetica', Arial; color: #8b8b8b; }

/* ### SERVICE BOX ### */
.serviceBox div.text { float: left; width: 520px; }
.serviceBox div.test { float: right;  width: 220px; }
.serviceBox p { padding-bottom: 10px;}
.serviceBox h2 { padding-bottom: 10px; font: 18px 'Helvetica', Arial; color: #333; }
.serviceBox h3 { padding: 15px 0px 10px 0px; font: 14px 'Helvetica', Arial; color: #2a4145; }
.serviceBox div.test ul { list-style: none; }
.serviceBox div.test li { margin-bottom: 10px; padding-bottom: 10px; line-height: 18px; font-style: italic; border-bottom: 1px solid #dad9d9; }
.serviceBox div.test li strong { display: block; font-style: normal; font-size: 11px; }

/* ### CONTACT BOX ### */
.contactBox { padding: 0px 35px 30px 55px; overflow: hidden; width: 780px; }
.contactBox div.form { float: left; width: 320px; }
.contactBox div.adres { float: right;  width: 380px; }
.contactBox h3 { padding-bottom: 10px; font: 18px 'Helvetica', Arial; color: #333; }
.contactBox address { padding-top: 10px; line-height: 18px; font-style: normal; }
.contactBox p { padding-bottom: 20px; line-height: 18px; }
.contactBox fieldset { overflow: hidden; width: 320px; border: 0px; }
.contactBox input.field { margin-bottom: 10px; padding: 4px 5px 0px 5px; float: left; width: 168px; height: 22px; border: 1px solid #9b9b9b; background: #f9f9f9; }
.contactBox label { margin-bottom: 10px; padding-left: 15px; float: left; width: 125px; height: 28px; line-height: 28px; }
.contactBox label.large { margin-bottom: 5px; padding: 0px; width: 320px; }
.contactBox textarea { margin-bottom: 15px; padding: 4px 5px 4px 5px; width: 308px; height: 120px; border: 1px solid #9b9b9b; background: #f9f9f9; }
.contactBox input.submit { padding-bottom: 2px; width: 69px; height: 28px; cursor: pointer; color: #fff; border: 0px; background: url('../images/submitBg.gif') no-repeat; }

/* ### FOOTER CONTAINER ### */
#footerCntr { 
  padding-top: 45px;
  padding-bottom: 35px;
  overflow: hidden;
  background: url('../images/footerBg.jpg') no-repeat;
  background-position: 35px 0 ;
  .subtle;
  .text-engraved;
  }
#footerCntr p { font-size: 11px; }
#footerCntr p.left { float: left; width: 300px; }
#footerCntr p.center { text-align: center; }
#footerCntr p.right { float: right; width: 300px; text-align: right; }

.groupfooter {
  font-size: smaller;
  width:100%;
  clear: both;
}

/*******************************************************************************
 * Links
 ******************************************************************************/

a {
  color: #002bb8;
  text-decoration: none;
}
a:visited {
  color: #5a3696;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: rgb(255,153,51);
}

a.createlinktext {
  color: #ba0000;
  border-bottom: none !important;
}
a.createlinktext:visited {
  color: #a55858;
}

a.urllink {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 12px;
}
a.urllink[href*="apfelwiki.de"]  {
  background: transparent;
  padding-right: 0px;
}

.drop-down {
  // function
  // ---------------------
  display: inline;
	position: relative;
  .drop-down-content {
    display: none;
    position: absolute;
    padding-top: 5px;
    left: 0;
  }

  // design
  // ---------------------
  ul {
    @padding: 5px;
    @background: @color-bg-neutral;

    list-style: none;
    text-align: left;

    margin: 0;
    padding: 0;
    width: 150px;
    background: @background;
    border: 1px solid white;
    box-shadow: #666 0px 0px 2px;
    border-radius: @borderRadius-button;

    li {
      padding: @padding 2*@padding;
      background: @background;
      display: block;
      border-radius: @borderRadius-button;
      }
    }
}

// ?
.a { margin-left:4ex; }

/******************************************************************************/

/* Edit Box */

#wikiedit form { margin:0px; }
#wikiedit textarea { width:98%; }
.indent { margin-left:40px; }
#wikiedit {margin:10px;}

input, textarea {
  border: 1px solid rgb(216,210,195);
  background: rgb(244,244,244);
  margin: 3px;
  padding: 2px;
}

input:focus, textarea:focus {
  background: rgb(250,250,250);
}

form label.left {
  margin-right: .3em;
  vertical-align: middle;
  float: left;
  width: 7em;
  text-align: right;
  padding: .1em;
}

form div.right {
  margin-left: 7.4em;
}

fieldset {
  border: 1px solid rgb(216,210,195);
  color: rgb(166,140,83);
  font-weight: bold;
  width: auto;
  border: none;
}


/*******************************************************************************
 * Google Suche
 ******************************************************************************/


.googleSearchForm input[type='search'] {
  width: 20em;
  }

// Search in Header
// ---------------------
#menuCntr .googleSearchForm {
  input[type='search'] {
    width: auto;
    }
  input[type='submit']  {
    display: none;
    }
  }

// Search on Frontpage
// ---------------------

.hero .googleSearchForm {
  text-align: center;

  input {
    font-size: 16px;
    height: 30px;
  }

  input[type='submit'] {
    padding: 0.1em 2em;
    margin-left: 0.5em;
  }


  input[type='search'] {
    // make the search input scalable in webkit
    -webkit-appearance: none;
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
    padding-left: 1em;
    padding-right: 1em;

    // don't show ugly huge outline on focus
    outline: none;

    width: 500px;

    background-color: white;
    border-color:rgb(156,157,158);
    border-width:1px;
    -moz-border-radius:26px;
    -webkit-border-radius:26px;
    border-radius:20px;
    border-style:solid;
    -moz-box-shadow:inset 0px 1px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow:inset 0px 1px 5px 0px rgba(0,0,0,0.2);
    }

  }

// Result Page Fubar
// ---------------------
#cse .gsc-table-result {
  margin-left: 8px;
}
#cse table {
  margin: 0;
  td {
    padding-top: 0px;
    padding-bottom: 0px;
    }
  }
.gsib_a {
  padding: 0 6px !important;
  }


.gsc-control-cse, .gsc-result {
    border-color: transparent !important;
    background-color: transparent !important;
    }

/*******************************************************************************
 * Buttons
 ******************************************************************************/

a.button {
  text-decoration: none;
  }

input[type="button"], input[type="submit"], .button {
  margin: 0 4px;
  padding: 0.20em 0.5em;
  border: 1px solid #999;
  background-color: #E9E9E9;
  color: @color-text;
  cursor: pointer;
  font-family: "Lucida Grande", Tahoma, Geneva, Verdana, sans-serif;

  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(236,236,236) 51%,rgb(242,242,242) 100%);
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(0.5, rgb(243,243,243)),color-stop(0.51, rgb(236,236,236)),color-stop(1, rgb(242,242,242)));
  background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(236,236,236) 51%,rgb(242,242,242) 100%);
  background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(236,236,236) 51%,rgb(242,242,242) 100%);
  background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(236,236,236) 51%,rgb(242,242,242) 100%);
  background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(243,243,243) 50%,rgb(236,236,236) 51%,rgb(242,242,242) 100%);
  border-color:rgb(187,187,187);
  border-width:1px;
  border-radius: @borderRadius-button;
  border-style:solid;
  -moz-box-shadow:0px 1px 1px 0px rgba(144,144,144,0.24);
  -webkit-box-shadow:0px 1px 1px 0px rgba(144,144,144,0.24);
  box-shadow:0px 1px 1px 0px rgba(144,144,144,0.24);


  &:visited, &:active {
    color: @color-text;
    }

  &.missing {
      color: lighten(@color-text, 25%);
    }

  &.primary {
    font-weight: bold;
    }
  }

/*******************************************************************************
 * Specific Modules
 ******************************************************************************/

.hp-element {
  margin: 20px 0;
  .box-style-1;

  .sectionedit {
    display: none;
    }
  }

.cc-icons {
  font-family: CCIconsRegular;
  font-size: 25px;
  margin-top: -10px;
  letter-spacing: 3px;
  display: inline-block;
}
/*******************************************************************************
 * Generic Modules
 ******************************************************************************/

.box-style-1 {
  padding: 10px 20px;
  border: 1px solid white;
  box-shadow: #999 0px 1px 3px;
  .text-engraved;
  border-radius: @borderRadius-large;
  background-color: @color-bg-neutral;
  background-image: -webkit-gradient(linear,
                               left top,
                               left bottom,
                               color-stop(0, rgba(0, 0, 0, 0.03)),
                               color-stop(0.1, rgba(0, 0, 0, 0)),
                               color-stop(0.9, rgba(255, 255, 255, 0)),
                               color-stop(1, rgba(255, 255, 255, 0.3)));
  background-image: -moz-linear-gradient(
                               top,
                               rgba(0, 0, 0, 0.03) 0%,
                               rgba(0, 0, 0, 0) 10%,
                               rgba(255, 255, 255, 0) 90%,
                               rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient(
                               top,
                               rgba(0, 0, 0, 0.03) 0%,
                               rgba(0, 0, 0, 0) 10%,
                               rgba(255, 255, 255, 0) 90%,
                               rgba(255, 255, 255, 0.3) 100%);
  }

.text-engraved {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

.subtle {
  color: @color-text-subtle;
  a {
    color: @color-text-subtle;
    &:active {
        color: @color-text;
      }
    }
  }

// needed for custom $$RecentChangesFmt in config.php
.hide {
  display: none;
  }
