a, a:visited, #content h1 a:hover{
	color: #ADE34A;
	}
#siteheader a, #siteheader a:visited, #siteheader a:hover, #footer a, #footer a:visited,
#r_sidebar h2 a:hover, #r_sidebar .sidehead a:hover{
	color: #ADE34A;
	}
#sidebar li.sfhover, #r_sidebar ul li a:hover, .headerright a:hover{
	background: #80BE14;
	}
