<!DOCTYPE html PUBLIC
 "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>$WikiTitle {$Group}/{$Titlespaced}</title>
	<link rel='stylesheet' href='$SkinDirUrl/style.css' type='text/css' />
	<link rel='stylesheet' href='$SkinDirUrl/color-$SkinColor.css' type='text/css' />
	<!--HTMLHeader-->
</head>

<body>

<div id="header">
<!--PageHeaderFmt-->
	<div id="siteheader">
		<!--wiki:{$Group}.SiteHeader {$SiteGroup}.SiteHeader-->
	</div>

	<!--PageTabsFmt-->
		<div class="headerright">
			<!--wiki:{$Group}.SiteNav {$SiteGroup}.SiteNav-->
		</div>
	<!--/PageTabsFmt-->

<!--/PageHeaderFmt-->
</div>

<div id="content">

	<div id="contentleft">
		<!--PageTitleFmt-->
			<a href='{$ScriptUrl}/{$Group}' class="pagegroup">{$Group}</a>
			<h1><a href='{$PageUrl}'>{$Titlespaced}</a></h1>
		<!--/PageTitleFmt-->

		<!--PageText-->
	</div>

	<div id="r_sidebar">
		<ul>
			<!--PageActionFmt-->
			<li id="Actions">
				<div class="pageactions">
				<!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
				</div>
			</li>
			<!--/PageActionFmt-->

			<!--PageSearchFmt-->
			<li id="Search">
				<h2>$[Find It]</h2>
				<div class="search">
					<form id="searchform" action='$ScriptUrl' method="get">
					<fieldset>
						<input type='hidden' name='n' value='{$FullName}' />
						<input type='hidden' name='action' value='search' />
						<input class='searchBox' type='text' name='q' value="" />
						<input class='searchButton' type='submit' value='$[Go]' />
					</fieldset>
					</form>
				</div>
			</li>
			<!--/PageSearchFmt-->
		</ul>
		<div id="sidebar">
			<!--PageRightFmt-->
			<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
			<!--/PageRightFmt-->
		</div>
	</div>
</div>

<div style="clear: both;"></div>
<div id="footerbg">
	<div id="footer">
		<!--PageFooterFmt-->
		<div class="footer"><!--wiki:{$Group}.SiteFooter {$SiteGroup}.SiteFooter--></div>
		<!--/PageFooterFmt-->
		<p id="credits"><a href="http://www.briangardner.com/themes/dropshadow-wordpress-theme.htm">Drop Shadow</a> $[theme adapted by] <a href="http://solidgone.org/Skins/">David Gilbert</a>, $[powered by] <a href="http://pmwiki.com/">PmWiki</a></p>
	</div>
</div>

<!--HTMLFooter-->
</body></html>
