<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>$WikiTitle  $Group &raquo; $Titlespaced $Action</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--HeaderText-->
        <link rel='stylesheet' href='$SkinDirUrl/simple.css' type='text/css' />
        <!--[if IE]>
            <link href='$SkinDirUrl/simple-ie.css' rel='stylesheet' type='text/css' />
        <![endif]-->
           </head>
    <body bgcolor="#ffffff">
        <div 
            id="header" 
            style="border: 1px none #ccf; background: url($SkinDirUrl/image/Box-Top-$SkinTone.jpg) no-repeat; " 
            title='$[$Group &raquo; $Titlespaced wurde zuletzt am $LastModified ge&auml;ndert]'
            >
            <table width="100%" style="padding: 0px; margin:0px;">
                <tr>
                    <td style="padding: 0px; margin:0px; border: none;">
                        <div id="page-title">$SkinHomeLink</div>
                        <div id="page-subtitle">$SkinGroupFmt &raquo; $SkinTitleFmt</div>
                    </td>
                    <td 
                        align="right" width="120" 
                        style="padding: 0px; margin:0px; padding-top: 11px; padding-bottom: 5px; border: none;"
                        >
                        <center>
                            <a href="$ScriptUrl/$[Main]"><img src="$PageLogoUrl" border="0" /></a>
                        </center>
                    </td>
                </tr>
            </table>
        </div>

        <div id="main">
            <div id="menubar" $SkinMenuBarVisible>
                <div>
                    <span style="float: left;">
                        <ul>
                            <li><a href='$PageUrl?action=edit'>$[Edit]</a></li>
                         </ul>
                    </span>
                    <span id="popupmenu" style="float: right;">
                        <ul id="menu">
                            <li><a href='$ScriptUrl/Site/SideBar'>Navigation</a>
                                <!--wiki:Site.SideBar-->
                            </li>
                        </ul>
                    </span>
                </div>
                <div class="clearer"></div>
            </div>

            <div class="content-mat" style="border: 1px none #fcc;">
                <div id="content" style="border: 1px none #ccc;">
                    <!--PageText-->
                </div>
                <div class="clearer">&nbsp;</div>
            </div>
        </div>

        <div id="footer" style="border: 1px none #000;">
            <div id="copyright">
                <span style="float: left; padding-left: 20px;">
                    $SkinCopyright
                </span>
                <span style="float: right; display: block; padding-right: 20px;">
                    $SkinPoweredBy
                </span>
            </div>
        </div>
    </body>
</html>
