*
!.gitignore
!ApfelWiki.Loeschkandidaten
!ApfelWiki.LoeschkandidatenFormular
!ApfelWiki.Search
!Diskussion.GroupHeader
!Diskussion.GroupFooter
!Main.AllRecentChangesShort
!Main.GroupFooter
!Main.NeueSeite
!PmWikiDe.EditQuickReference
!PmWikiDe.XLPage
!PmWikiDe.XLPageCookbook
!PmWikiDe.XLPageLocal
!Rezension.GroupHeader
!Rezension.GroupFooter
!Site.EditForm
!Site.PageNotFound
