/*local.css von Skin standard */

html {
    height:100%;
    }
    
body {
    height:100%;
	color: #111111;
	margin:0px;
	padding:0px;
	font: 10pt Helvetica, Arial, sans-serif;
	background: white;
}

#nonFooter {
    position: relative;
    min-height: 100%;
}

* html #nonFooter {
    height: 100%;
}


.pagetitle { font-size:200%; font-weight:bold; }

.flpdictindex{
background:silver;
}

 

img { border-width:0px; }

input, textarea {
 color: #111111;
  border: 1px solid rgb(216,210,195);
  background: rgb(244,244,244);
  margin: 3px;
  padding: 2px;
}

input:focus, textarea:focus {
  background: rgb(250,250,250);
}

form label.left {
  margin-right: .3em;
  vertical-align: middle;
  float: left;
  width: 7em;
  text-align: right;
  padding: .1em;
}

form div.right {
  margin-left: 7.4em;
}

form {
  line-height: 140%;
}

fieldset {
  border: 1px solid rgb(216,210,195);
  color: rgb(166,140,83);
  font-weight: bold;
  width: auto;
  border: none;
}


#wikiedit form { margin:0px; }
#wikiedit textarea { width:98%; }
.indent { margin-left:40px; }

/* Frage und Antwort */
p.q {
    border-top: 1px  #9999FF;
	padding: 5px; 
	background: transparent repeat-x url(background.gif);
	border: 1px solid silver;
	margin:10px 0px 5px 0px;
}

p.answer {
	margin: 8px 0px 0px 0px;
}

/* ---------------- Wiki header ----------------------- */
#wikiheader {
    color: #111111;
    z-index:1;
    background: transparent repeat-x url(background.gif);
	height: 60px;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid silver;
}

#wikiheader a {
	text-decoration: none;
}
#wikiheadleft { 
    text-align:left; 
    padding: 2px 5px 2px 5px; 
		
}

#wikiheadright { 
position: absolute;
top: 5px;
right: 250px;
text-align: right;
text-decoration: none;
letter-spacing: 1.2px;
padding: 2px 5px 2px 5px;

}

#searchform {
position: absolute;
top: 5px;
right: 80px;
	height:48px;
	width:160px;
	background: transparent url(search.png);
}

#searchbox {
vertical-align:middle;
		width: 120px;
		margin-top: 9px;
	margin-left: 20px;
} 

#impressum {
position: absolute;
right: 2.0em;
  top: 1.0em;
width:40px;
text-align:left;
 font-family: sans-serif;
  font-size: 85%;
 padding: 0.25em 0.5em 0.25em 0.5em;
  color: #7A7A78;

}


/* ------------------ CmdBar --------------- */
#cmdbar {
background: transparent repeat-x url(aqua.png);
border-bottom: solid 1px rgb(221,221,221);
font-family: sans-serif;
  font-size: 85%;
  padding: 0.25em 0.5em 0.25em 0.5em;
  color: #7A7A78;
  margin-bottom: 2px;
}

#breadcrumbs { 
	position: absolute;
	top: 61px;
	margin-left:5.5em;
  vertical-align:top;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 85%;
  padding: 0.25em 0.5em 0.25em 1.5em;
  }



#wikicmds {
position: absolute;
top: 61px;
right: 0px;
font-family: sans-serif;
font-size: 85%;
padding: 0.25em 0.5em 0.25em 0.5em;
color: #7A7A78;
}

#wikicmds a, #wikicmds a:visited{ 
color: #7A7A78;
	text-decoration: none;
}

#wikicmds a:hover {
	text-decoration: underline;
}
#wikicmds a:active {
	color: rgb(255,153,51);
}

/* ------------------ Wikibody --------------- */

#wikibody {
 margin-top: 0.5em;
}
   	
#wikicontent {
 	padding-top: 5px;
	line-height: 1.25em;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2em;
	margin: 0em 1.75em 1.75em 1.75em;
	}

#wikicontent img { 
	margin: 0px;
}

#wikicontent li img{ 
	margin-right: 2px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

/*----------- Wiki Fussleiste ----------*/

#fussleiste {
position: relative;
margin-top: -2em;
	clear:both;
	bottom: 0px;
  background: transparent repeat-x url(aqua.png);
  border-bottom: solid 1px rgb(221,221,221);
  border-top: solid 1px rgb(221,221,221);
  font-family: sans-serif;
  font-size: 85%;
  padding: 0.25em 0.5em 0.25em 0.5em;
  color: #7A7A78;
 }

.navboxu {
    position:absolute;
    right:10px;
    font-size: 100%;
}  

#fussleiste a, #fussleiste a:visited{ 
color: #7A7A78;
	text-decoration: none;
}

#fussleiste a:hover {
	text-decoration: underline;
}
#fussleiste a:active {
	color: rgb(255,153,51);
}

/*--------- Verlaufbox ?action=diff -----------*/

.diffbox {
 border-top:0px;
 border-left:1px silver solid;
 border-right:1px silver solid;
 border-bottom:1px silver solid;
 width:100%;
}
 
.diffauthor { font-weight:bold; }

.diffchangesum { font-weight:bold; }

.difftime { 
    font-family:helvetica,verdana,sans-serif;
    font-size:80%; 
    background:transparent repeat-x url(aqua.gif);
    border-bottom: 1px silver solid; 
}

.difftype { 
    clear:both;
    font-family: helvetica,verdana,sans-serif;
    font-size:80%; 
    font-weight:bold;
}

.diffadd {   
    padding-left:5px;
    border-bottom: 1px silver solid; 
}

.diffdel { 
    padding-left:5px;
    color:#7A7A78; 
}

.diffrestore { 
    clear:both; 
    font-family: helvetica, verdana,sans-serif;
    font-size:80%;
    margin: 0.5em 0em 1.5em 0em; 
}
    
/*----------- Textformatierung -----------*/
h1 {
	border-bottom: solid silver 1px;
	margin-top: 1.25em;
	margin-bottom: 0.25em;
	color: #222222;
	text-align: left;
	font-weight: normal;
	font-size: 1.6em;
}

h2 {
	border-bottom: 1px solid silver;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
	color: #222222;
	text-align: left;
	font-weight: normal;
	font-size: 1.17em;
}

h3 {
	text-indent: 0em;
	margin-top: 0.25em;
	margin-bottom: 0.15em;
	letter-spacing: 0px;
	color: #222222;
	text-align: left;
	font-weight: bold;
	font-size: 1.05em;
}

h4 {
	text-indent: 0em;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	letter-spacing: 0px;
	color: #222222;
	text-align: left;
	font-weight: bold;
	font-size: 1.025em;
}

hr
 {
 height: 1px;
 border: none;
        color: silver;
        background-color: silver;
 }
 
 /*-------------- GŠstebuch (commentbox) -----------*/

.messagehead { 
            margin:0;
            padding:0 0 0 3px;
            border:1px solid silver;
            }
.messageitem {
            margin:0;
            padding:3px;
            border-left:1px solid silver;
            border-right:1px solid silver;
            border-bottom:1px solid silver;
            }
.messagehead { background: url(/pub/skins/standard/aqua.png); }
/*use the following if message head should be same as message item */
/* .messagehead { background:#eef; border-bottom:none; } */
.messageitem { background:white; }

.commentbutton { margin:0 0 0 5px; 
                padding:0 3px }
.commenttext { width:100%; 
               margin:0 0 3px 0 }



/*--------- sonstige Formatierungen ------*/
pre {
	margin-top: 4px;
	font-size: 12px;
	color: #444444;
	padding: 10px;
}



td.prompt {
	text-align: right;
	vertical-align: top;
	font-size: smaller; 
	font-weight: bold;
	color: maroon;
	padding-top: 5px;
}

div#diary { 
	border-bottom: 2px solid #9999FF;
	margin-top: 7px;
	margin-bottom: 10px;
}

div#message { 
	margin-top: 10px;
	border-top: 2px solid #9999FF;
	padding-top: 10px;
}

hr.footnote {
	width: 30%; text-align: left;
}

div.footnote {
	width: 150px;
	border-bottom: 1px solid blue;
	margin-bottom: 5px;
}

p.footnote {
	text-indent: -1em;
	margin-right: 3em;
	margin-left: 3em;
	margin-top: 0em;
	margin-bottom: 1em;
	font-size: smaller;
}

p.right {
	text-align: right;
}

p.center {
	text-align: center;
}

/*div.toc {
	padding: 5px;
	border: solid silver 1px;
	background: #f3f3f3;
}

ol.toc li{
	list-style: none;
} */

/* ------ Linkformatierungen ------- */

a { color: #002bb8;
	text-decoration: none;
}


a:visited {
	color: #5a3696;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: rgb(255,153,51);
}



a.createlinktext {
	color: #ba0000;
}

a.createlinktext:visited {
	color: #a55858;
}


a.urllink {
	color: #002bb8;
	background: url(external.png) right center no-repeat;
     padding-right: 12px;
}
a[href ^="mailto:"] {
    background: url("mail_icon.gif") center right no-repeat;
    padding-right: 18px;
}

a[href ^="webcal://"] {
    background: transparent;
     padding-right: 0px;
}

a[href ^="aim:"] {
    background: none;
    padding-right: 18px;
}

a[href ^="gopher://"] {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}
a[href ^="https://"]{
    background: url("lock_icon.gif") center right no-repeat;
    padding-right: 16px;
}

a[href ^="news://"] {
    background: url("news_icon.png") center right no-repeat;
    padding-right: 18px;
}
a[href ^="ftp://"]{
    background: url("file_icon.gif") center right no-repeat;
    padding-right: 18px;
}
a[href ^="irc://"]{
    background: url("discussionitem_icon.gif")  center right no-repeat;
    padding-right: 18px;
}
a.urllink[href ="http://www.apfelwiki.de"] {
        background: transparent;
        padding-right: 0px;
}

a.urllink[href ="http://apfelwiki.de"] {
        background: transparent;
        padding-right: 0px;
}

strong {
	/*font-size: 0.9em;*/
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	font-size: 1em;
}

pre {
	margin-top: 4px;
	font-size: 12px;
	color: #444444;
	/*background-color: #effef1;*/
	border: thin solid silver;
	padding: 10px;
}

.a { margin-left:4ex; }


.rightbar
{
	border: 1px solid silver;
	font-size: 9pt;
	padding:15px;
	 margin:5px;
    background:#fefaeb;
    display:block;
    line-height:1.5em;
}

.rightbar h2 {
	margin-top: 0.5em;
	}

.rightbar .wikiloghome
{
	font-size: x-small;
}

.rightbar .loglist
{
	list-style: disc;
	font-size: x-small;
}

.rightbar li
{
    list-style: none;
	margin-left: -5ex;
}

.leftbar
{
	border: 1px solid #cecece;
	font-size: 9pt;
	padding: 1em;
	min-width:150px;
}

.leftbar .wikiloghome
{
	font-size: x-small;
}

.leftbar .loglist
{
	list-style: disc;
	font-size: x-small;
}

.leftbar a[href ^="webcal://"] {
    background: transparent;
     padding-right: 0px;
     float:right;
}

.leftbar h2 {
	margin-top: 0.5em;
	}

.leftbar li
{
	margin-left: -5ex;
}

#rightbar2
{
	border: 1px solid #cecece;
	background-color: #333333;
	color: #FF9933;
	font-size: x-small;
	padding: 1em;
}

#rightbar2 .wikiloghome
{
	font-size: x-small;
}

#rightbar2 .loglist
{
	list-style: disc;
	font-size: x-small;
}


#rightbar2 li
{
	margin-left: -3ex;
}

#rightbar2 a{
color: #FFFFFF; }

#rightbar2 a.createlinktext{
color: #FFCCCC;}

.indent { margin-left:4ex; }

#hundredmillion {
	width:100%;
	vertical-align:middle;
	text-align: center;
	font-size: 35px;
	font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	
	font-weight: bolder;
	line-height: normal;
	padding: 4px 1em 4px 1em;
	text-shadow: gray 0em 0em 0.1em;
	border: 1px solid silver;
	color: white;
	background: #9feb62;
}

#hundredmilliontext {
	font-weight: bolder;
	font-size: 10px;
	text-align: center;
	padding-top: 5px;
	text-shadow: none;
	color: black;
}

#tabelle_uebersicht_innenrahmen td {
	border: 1px solid #cecece;
}

#tabelle_uebersicht_innenrahmen ul {
	border: 1px  #cecece;
	list-style: none;
}

#tabelle_uebersicht_doppelrahmen ul {
	border: 1px  #cecece;
	list-style: none;
}

#tabelle_uebersicht_doppelrahmen table {
	border: 1px solid #cecece;
}

#tabelle_uebersicht_doppelrahmen td {
	border: 1px dotted #cecece;
}


ul img {
	border: 1px  #cecece;
	padding-top: 2px;
	vertical-align: -8px;
	
}

.sourcecode {
   background-color: #eef;
   border: #666 1px solid;
   padding: 1em;
}
 
.spotlight { 
    padding:15px; 
    margin:5px;
	padding: 10px;
	background: #eff2f3;
	border: 1px solid silver;
    display: block;
    line-height:1.5em;
}

.spotlight img {
	float: right;
	border: 1px solid silver;
	margin: 5px;
	height: 80px;
}

.spotlight2 {
	padding: 10px;
	border: 1px solid silver;
	display: block;
}

.spotlight2 img {
	float: right;
	border: 1px solid silver;
	margin: 5px;
}

.achtung {
	padding: 10px;
	background: #ffdcb9;
	border: 1px solid #cc9999;
	display: block;
}

.taste {
     padding: 1px 8px 0px 1px;
     border-width: 1px 2px 2px 1px;
     border-style: solid;
     background: #faf6f6;
     color: #333;
     border-color:  #edd #baa #baa #eed;
        font-family: Courier, Courier New, mono;
        font-size:90%;
        font-weight: bold;
}

/*wird durch tutorial abgeloest*/
#tutorialrahmen, .tutorialrahmen {
	padding: 10px;
	margin: 10px;
	background: #f6f5ff;
	border: solid #b7c4ff 1px;
	display: block;
} 

.tutorial {
	padding: 10px;
	margin: 10px;
	background: #f6f5ff;
	border: solid #b7c4ff 1px;
	display: block;
	font-size:smaller;
} 


#softwarerahmen, .softwarerahmen, .software, .seitenhinweis {
	padding: 10px;
	margin-top: 10px;
	background: #ffffdd;
	border: solid #b7c4ff 1px;
	font-size: 0.85em;
}

#missinglinks {
	padding: 2%;
	margin-right: 2.5%;
	float: right;
	margin-top: 2%;
	margin-bottom: 2%;
	border: 1px solid #cecece;
	width: 38%;
	max-height: 10em;
}

#portale {
	padding: 2%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	background: #f4f4f4;
	border: 1px solid #cecece;
}



.groupfooter {
 border-top: solid silver 1px;
 border-spacing: 0px;
 padding:4px;
 margin-top:0.5em;
 margin-bottom:-2em;
 font-size: x-small;
 width:100%; 
 }
 
 table.groupfooter_ext {
 width:100%;
 border: solid silver 1px;
 border-spacing: 0px;
 padding:0px;
 margin-top:0.5em;
 margin-bottom:-1em;
 font-size: smaller;
 background-color:#eee;
 width:100%; 
 }
table .groupfooter_ext_mo { background-color:#aaa; color:white;	padding:2px; font-weight:bold; }
table.groupfooter_ext td { padding:2px 4px; }
table.groupfooter_ext .createlinktext { border-bottom:none; }

/*abwechelnd colorierte Zebra-Tabellen*/
table.zebra th {text-align:center;}
table.zebra td {vertical-align: top; padding: 2px 10px 2px 10px; }
table.zebra tr.ind1 { background-color:#eeeeee; }

/*Layouttabelle auf Startseite*/
table#main_apfelwiki {border:none;border-spacing:5px; margin:0 -25px; padding: 5px 0px 0px 5px;}
table#main_apfelwiki td {vertical-align:top;}

.apfelwiki_artikel {
padding:10px;
margin:5px;
line-height:1.5em;
}

#apfelwiki_spezial {
valign:top;
width:25%;
padding:10px;
margin:5px;
line-height:1.5em;
font-size:0.9em;
}

#apfelwiki_spezial li {
list-style-type:none;
margin-left: -5ex;
}

#apfelwiki_newsticker {
width: 25%;
padding:10px;
margin:5px;
line-height:1.5em;
}

#apfelwiki_newsticker li {
margin-left: -5ex;
list-style-image:url("pfeil.gif");
}

#apfelwikitest td
{
	text-align:center;
}

#apfelwikitest.titel
{
background-color:#cccccc;
}

#apfelwikitest.sieger
{
background-color:#ffcc33;
}
