<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">	
	<head>
		<title>
			$WikiTitle {$Group} - {$Titlespaced}
		</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<meta http-equiv='Content-Language' content='de' />
		<meta name='MSSmartTagsPreventParsing' content='true' />
		<meta http-equiv='Content-Style-Type' content='text/css' />
		<meta name="description" content="ApfelWiki Mac OS Apple $Title" />
		<meta name="robots" content="index,follow" />
		<meta name="keywords" content="key, words" />
		<link rel="shortcut icon" href="$PubDirUrl/skins/apfelwiki/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="ApfelWiki RSS" href="http://apfelwiki.de/index.php/Main/RecentChanges?action=rss" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link media="screen and (min-device-width: 481px)" href="$SkinDirUrl/apfelwiki.css" type="text/css" rel="stylesheet">
		<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- For iPhone 4 with high-resolution Retina display: -->
		<link rel="apple-touch-icon" sizes="114x114" href="$SkinDirUrl/apple-touch-icon-114x114.png">
<!-- For first-generation iPad: -->
		<link rel="apple-touch-icon" sizes="72x72" href="$SkinDirUrl/apple-touch-icon-72x72.png">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon" href="$SkinDirUrl/apple-touch-icon.png">
<!-- jquery mobile -->	
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.2/jquery.mobile-1.1.0-rc.2.min.css" />
		<link rel="stylesheet" href="$SkinDirUrl/jqm_extension.css" />
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="$FarmPubDirUrl/jqm/custom-scripting.js"></script>
		<script src="http://code.jquery.com/mobile/1.1.0-rc.2/jquery.mobile-1.1.0-rc.2.min.js"></script>
<!--HTMLHeader-->
<!--	<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>-->
</head>
	
	<body>
<div data-role="page">
<!--PageHeaderFmt-->
		<div data-role="header" data-position="fixed">
		<!--wiki:{$Group}.Header {$SiteGroup}.Header-->
		</div><!-- /header -->
<!--/PageHeaderFmt-->
		<div data-role="content" data-fullscreen="true">
		<!--PageText-->
		</div><!-- /content -->
		<!--PageActionFmt-->
		<div data-role="footer" data-position="fixed">
		<!--wiki:{$Group}.Footer {$SiteGroup}.Footer-->
		</div><!-- /footer -->
<!--/PageActionFmt-->	
</div><!-- /page -->
	</body>
</html>
