<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>
			$WikiTitle - $Group - $Title 
		</title>
		<meta http-equiv='Content-Language' content='de' />
		<meta name='MSSmartTagsPreventParsing' content='true' />
		<meta http-equiv='Content-Style-Type' content='text/css' />
		<meta name="description" content="ApfelWiki Mac OS Apple $Title" />
		<meta name="robots" content="index,follow" />
		<meta http-equiv="pics-label" content='(pics-1.1 "http://www.icra.org/ratingsv02.html" l gen true for "http://apfelwiki.de" r (nz 1 vz 1 lz 1 oz 1 cb 1) gen true for "http://www.apfelwiki.de" r (nz 1 vz 1 lz 1 oz 1 cb 1))' />
		<link rel="shortcut icon" href="$PubDirUrl/skins/standard/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="ApfelWiki RSS" href="http://www.apfelwiki.de/index.php/Main/RecentChanges?action=rss" />
<!--HeaderText-->
		<link rel='stylesheet' href='$PubDirUrl/skins/apfelwiki2/apfelwiki2.css' type='text/css' media='all' />
	</head>
	<body>
		<div id='wikibody'>
			<div id='wikiheader'>
<!--wiki:{$Group}.Kopfzeile {$SiteGroup}.Kopfzeile-->
			</div>
			<div id='pageheader'>
<!--wiki:{$Group}.Unterkopfzeile {$SiteGroup}.Unterkopfzeile-->
			</div>
			<div id='wikicontent'>
<!--PageText-->
			</div>
		</div>
<!--PageFooterFmt-->
<!--HTMLFooter-->
	</body>
</html>
